.checkbox-create {
    margin: 2rem;
    display: flex;
    flex-direction: column;

    textarea {
        @include textarea-create;
    }

    .check-box {
        margin: 0.1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .check {
            @include check;
        }
        
        .check-input {
            @include textarea-create;
        }
    }

    .fa-plus {
        input {
            @include textarea-create;
        }
    }
}