.checkbox-create {
  margin: 2rem;
  display: flex;
  flex-direction: column;

  textarea {
    @include textarea-create;
  }

  .check-box {
    margin: 0.1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;

      .new-option {
        margin: 1rem;
        border-bottom: black 1px solid;
      }
    }

    .check {
      @include check;
    }

    .check-input {
      @include textarea-create;
    }
  }

  .fa-plus {
    display: flex;
    align-items: center;

    span {
      margin: 0.5rem;
      border-bottom: solid black 0.1rem;

      p {
        font-weight: 100;
      }
    }
  }
}
