.create-form  {
    display: flex;
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
    flex: 4;

    * {
        font-size: 2rem;
    }
}

.form-header {
    display: flex;
    flex-direction: column;
}
