.create-form {
  * {
    font-size: 2rem;
  }

  header {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    background-color: $background-div-color;
    border-top: solid 1rem $border-color;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  .question-div {
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color: $background-div-color;
    border-left: solid 0.5rem $border-color;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem #c5d9d4;

    @media (max-width: 768px) {
      width: 90%;
    }

    &:last-of-type {
      margin-bottom: 10rem;
    }
  }

  .choose-type-main {
    position: absolute;
    transition: top 0.3s ease-in-out;
    left: 80%;
    top: 300px;
    background-color: $background-div-color;
    border-radius: 3rem;

    .fa-plus-circle {
      align-self: center;
      font-size: 4rem;
      margin: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  .choose-type-main-mobile {
    position: fixed;
    bottom: 0;
    left: 70%;
    background-color: $background-div-color;
    border-radius: 3rem;

    .fa-plus-circle {
      align-self: center;
      font-size: 4rem;
      margin: 1rem;

      &:hover {
        opacity: 0.5;
      }
    }
    @media (min-width: 769px) {
      display: none;
    }
  }
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}

.example-exit {
  transform: translateX(0px);
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  transform: translateX(-150px);
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
}
