.create-form  {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    background-color: $main-color;

    * {
        font-size: 2rem;
    }

    header {
        margin: 1rem;
        padding: 1rem;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        width: 60rem;
        max-width: 80%;
        background-color: #DBDAEA;
        border-top: solid 1rem purple;
    }

    .question-div {
        width: 60rem;
        max-width: 80%;
        margin: 1rem;
        background-color: #DBDAEA;
        padding: 1rem;
        border-left: solid 0.5rem purple;
        border-radius: 1rem;
        box-shadow: 0 0.5rem 1rem #c5d9d4;
    }

    .choose-type-main {
        margin-bottom: 10rem;
        display: flex;
        margin: 1rem;
        background-color: lightgray;
        border-radius: 3rem;

        .fa-plus-circle {
            font-size: 5rem;
            align-self: center;
            margin: 1rem;

            &:hover {
                color: gray;
            }
        }

        .choose-type {
            display: flex;

            div {
                font-size: 5rem; 
                margin: 1rem;

                &:hover {
                    color: gray;
                }
            }
        }
    }
}
