@mixin textarea-create {
    margin: 1rem;
    outline: none;
    border: none;
    background-color: $background-input;
    border-bottom: gray 0.2rem solid;
    resize: none;
    transition: border-bottom 0.3s ease-in-out;

    &:focus {
        border-bottom: $black-color 0.2rem solid;
    }
}

@mixin check {
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    -webkit-appearance: none;
    border: 0.1rem gray solid;

    &:checked {
        background-color: green;
    }
}