.mobile-menu {
  position: sticky;
  top: 0;

  @media (min-width: 769px) {
    display: none;
  }

  .burger {
    padding: 1rem;

    &:focus {
      outline: none;
    }

    .div1,
    .div2,
    .div3 {
      margin: 1rem;
      width: 3.5rem;
      height: 0.5rem;
      background-color: black;
      transition: 0.5s;
    }
  }

  .crossed {
    .div1 {
      transform: rotate(-45deg) translate(-1.1rem, 1rem);
    }
    .div2 {
      opacity: 0;
    }
    .div3 {
      transform: rotate(45deg) translate(-1.1rem, -1rem);
    }
  }

  .mobile-aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
    background-color: $aside-color;
    position: absolute;
    height: 100vh;
    width: 60vw;
    z-index: -1;
    top: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0);

    a {
      text-decoration: none;
      text-align: center;
      font-size: $font-size-large;
      color: $nav-text-color;
    }
  }

  .hidden {
    transform: translateX(-100%);
  }
}
