$primary-color: #282c34;
$secondary-color: #61dafb;
$white-color: white;
$black-color: black;
$border-color: gray;
$fade-color: gray;
$highlight-color: #c0ede0;
$hover-color: gray;
$main-color: #faf7f9