$primary-color: #282c34;
$white-color: white;
$black-color: black;
$fade-color: gray;
$highlight-color: #c0ede0;
$hover-color: gray;
$main-color: #edf7f6;
$background-div-color: #f7fffa;
$border-color: #379683;
$aside-color: #05386b;
$background-input: #f3fafd;
$button-color: #6bc999;
$background-color: #6bc999;

$font-size-large: clamp(3rem, 4vw, 5rem);
$font-size-medium: clamp(2rem, 3vw, 4rem);
$font-size-light: clamp(2rem, 2vw, 3rem);
$font-size-small: clamp(1rem, 2vw, 3rem);

$nav-text-color: white;
