.logged-out-main {
    display: flex;
    min-height: 100vh;
    flex: 1;
    flex-direction: column;

    nav {   
        display: flex;
        flex: 1;
        justify-content: center;

        h2 {
            align-self: center;
            font-size: 2.5rem;
            text-align: center;
            position: absolute;

            a {
                color: black;
                font-size: 2.5rem;
            }
        }

        .div-up {
            display: flex;
            width: 100%;
            height: 20rem;
            background-color: $button-color;
            z-index: -1;
            border-bottom-left-radius: 50%;
            border-bottom-right-radius: 50%;
        }
    }

    footer {
        display: flex;
        flex: 1;
        justify-content: center;

        h2 {
            font-size: 2.5rem;
            text-align: center;
            align-self: center;
            position: absolute;
        }

        .div-down {
            align-self: flex-end;
            display: flex;
            width: 100%;
            height: 20rem;
            background-color: $button-color;
            z-index: -1;
            border-top-left-radius: 50%;
            border-top-right-radius: 50%;
        }
    }
}
