#root {
    display: flex;
    height: 100%;

    aside {  
        display: flex;
        min-height: 100vh;
        max-height: 100vh;
        font-size: 3.5rem;
        flex-direction: column;
        justify-content: space-evenly;
        position: sticky;
        top: 0;

        @media (max-width: 768px) {
            display: none;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }

    section {
        font-size: 5rem;
        background-color: $main-color;
        flex: 1;
    }
}