.logged-out-main {
  display: flex;
  min-height: 100vh;
  flex: 1;
  flex-direction: column;

  .landing-background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: clamp(10rem, 20vh, 20rem);
    background-color: $background-color;
  }

  nav {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;

    h1 {
      font-size: $font-size-medium;
      text-align: center;
      color: white;
    }

    h2 {
      font-size: $font-size-light;
      text-align: center;
      color: white;

      a {
        color: inherit;
        font-size: inherit;
      }
    }
  }

  footer {
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;

    a {
      font-size: $font-size-light;
      color: white;
    }
  }
}
