#root {
    display: flex;
    min-height: 100vh;
    flex: 1;

    @media (max-width: 768px) {
        flex-direction: column;
    }
    
    aside {  
        display: flex;
        min-height: 100vh;
        max-height: 100vh;
        font-size: 3.5rem;
        flex-direction: column;
        justify-content: space-evenly;
        position: sticky;
        top: 0;
        background-color: $aside-color;
        align-items: center;

        @media (max-width: 768px) {
            display: none;
        }

        a {
            color: white;
            padding: 1rem;
            text-decoration: none;
        }

        div {
            color: white;
            padding: 1rem;
        }
    }

    main {
        display: flex;
        flex-direction: column;
        flex: 1;
    }
}
