@import './createform';
@import "./variables";
@import "./auth";
@import "./wrapper";
@import "./notFound";
@import "./loading";

* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;

    @media(max-width: 768px) {
        font-size: 50%;
    }
}
