@import "./mixin";
@import './createform';
@import "./filloutform";
@import "./variables";
@import "./auth";
@import "./wrapper";
@import "./notFound";
@import "./loading";
@import "./line";
@import "./paragraph";
@import "./checkbox";
@import "./questionOptions";
@import "./navForm";
@import "./infoForm";

* {
    font-family: 'Titillium Web', sans-serif;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%;

    @media(max-width: 768px) {
        font-size: 50%;
    }
}
