.create-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #edf7f6;
}

.create-form * {
  font-size: 2rem;
}

.create-form header {
  margin: 1rem;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 60rem;
  max-width: 80%;
  background-color: #f7fffa;
  border-top: solid 1rem #379683;
}

.create-form .question-div {
  width: 60rem;
  max-width: 80%;
  margin: 1rem;
  background-color: #f7fffa;
  padding: 1rem;
  border-left: solid 0.5rem #379683;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem #c5d9d4;
          box-shadow: 0 0.5rem 1rem #c5d9d4;
}

.create-form .choose-type-main {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  background-color: #f7fffa;
  border-radius: 3rem;
}

.create-form .choose-type-main .fa-plus-circle {
  font-size: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem;
}

.create-form .choose-type-main .fa-plus-circle:hover {
  opacity: 0.5;
}

.create-form .choose-type-main .choose-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-form .choose-type-main .choose-type div {
  font-size: 5rem;
  margin: 1rem;
}

.create-form .choose-type-main .choose-type div:hover {
  opacity: 0.5;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}

.example-exit {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  opacity: 1;
}

.example-exit.example-exit-active {
  opacity: 0.01;
  -webkit-transform: translateX(-150px);
          transform: translateX(-150px);
  -webkit-transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
  transition: transform 300ms ease-in-out, opacity 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
}

.fillout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #edf7f6;
}

.fillout-form * {
  font-size: 2rem;
}

.fillout-form header {
  margin: 1rem;
  padding: 1rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 60rem;
  max-width: 80%;
  background-color: #f7fffa;
  border-top: solid 1rem #379683;
}

.fillout-form .question-div {
  width: 60rem;
  max-width: 80%;
  margin: 1rem;
  background-color: #f7fffa;
  padding: 1rem;
  border-left: solid 0.5rem #379683;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem #c5d9d4;
          box-shadow: 0 0.5rem 1rem #c5d9d4;
}

.fillout-form .choose-type-main {
  margin-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
  background-color: #f7fffa;
  border-radius: 3rem;
}

.fillout-form .choose-type-main .fa-plus-circle {
  font-size: 5rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: 1rem;
}

.fillout-form .choose-type-main .fa-plus-circle:hover {
  opacity: 0.5;
}

.fillout-form .choose-type-main .choose-type {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fillout-form .choose-type-main .choose-type div {
  font-size: 5rem;
  margin: 1rem;
}

.fillout-form .choose-type-main .choose-type div:hover {
  opacity: 0.5;
}

.auth-form {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
}

.auth-form a {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 2rem;
  border: solid 0.2rem #379683;
  color: #282c34;
}

.auth-form a:hover {
  background: #c0ede0;
}

.auth-form h1 {
  text-align: center;
  width: 25%;
  margin-bottom: 2rem;
  border-bottom: solid 0.4rem #379683;
}

.auth-form div {
  position: relative;
  margin: 1.5rem;
  font-size: 5rem;
  overflow-x: visible;
}

.auth-form div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 0.1rem solid black;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.auth-form div input:focus {
  border-bottom-color: #379683;
}

.auth-form div label {
  color: #000;
  position: absolute;
  left: 0;
  bottom: 10%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.auth-form div .auth-label {
  font-size: 2rem;
  top: -1rem;
  color: gray;
}

.auth-form button {
  margin: 3rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  border: none;
  background: #379683;
  color: white;
}

.auth-form button:hover {
  background: #c0ede0;
}

.auth-form p {
  color: red;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#root aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  font-size: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: #05386B;
}

@media (max-width: 768px) {
  #root aside {
    display: none;
  }
}

#root main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.not-found {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.not-found * {
  color: black;
  padding: 2rem;
}

.not-found h1 {
  font-size: 5rem;
}

.not-found a {
  font-size: 2.5rem;
}

.not-found a:hover {
  color: gray;
}

.loading-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-circle div {
  border: 2rem solid #f3f3f3;
  border-top: 2rem solid #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.line-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.line-create input {
  margin: 1rem;
  outline: none;
  border: none;
  background-color: #f3fafd;
  border-bottom: gray 0.2rem solid;
  resize: none;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.line-create input:focus {
  border-bottom: black 0.2rem solid;
}

.paragraph-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.paragraph-create textarea {
  margin: 1rem;
  outline: none;
  border: none;
  background-color: #f3fafd;
  border-bottom: gray 0.2rem solid;
  resize: none;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.paragraph-create textarea:focus {
  border-bottom: black 0.2rem solid;
}

.checkbox-create {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.checkbox-create textarea {
  margin: 1rem;
  outline: none;
  border: none;
  background-color: #f3fafd;
  border-bottom: gray 0.2rem solid;
  resize: none;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.checkbox-create textarea:focus {
  border-bottom: black 0.2rem solid;
}

.checkbox-create .check-box {
  margin: 0.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkbox-create .check-box .check {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-appearance: none;
  border: 0.1rem gray solid;
}

.checkbox-create .check-box .check:checked {
  background-color: green;
}

.checkbox-create .check-box .check-input {
  margin: 1rem;
  outline: none;
  border: none;
  background-color: #f3fafd;
  border-bottom: gray 0.2rem solid;
  resize: none;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.checkbox-create .check-box .check-input:focus {
  border-bottom: black 0.2rem solid;
}

.checkbox-create .add-check {
  margin: 1rem;
}

.question-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: black 0.2rem solid;
  padding-top: 1.5rem;
}

.question-options button {
  border-radius: 3rem;
}

nav {
  display: -ms-grid;
  display: grid;
}

nav .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .nav-links span a {
  font-size: 2.5rem;
  padding: 1rem;
  text-decoration: none;
  color: black;
}

nav .nav-links .selected {
  border-bottom: #379683 solid 0.5rem;
  -webkit-transition: border-bottom 300ms linear, border-width 300ms linear;
  transition: border-bottom 300ms linear, border-width 300ms linear;
}

nav .nav-options {
  font-size: 5.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: right;
}

nav .nav-options div {
  margin: 2.5rem;
  margin-inline: 4rem;
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-header textarea {
  margin: 1rem;
  outline: none;
  border: none;
  background-color: #f3fafd;
  border-bottom: gray 0.2rem solid;
  resize: none;
  -webkit-transition: border-bottom 0.3s ease-in-out;
  transition: border-bottom 0.3s ease-in-out;
}

.form-header textarea:focus {
  border-bottom: black 0.2rem solid;
}

.form-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: wrap;
      -ms-flex: wrap;
          flex: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: lightgray;
}

.form-list * {
  font-size: 3rem;
}

* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 768px) {
  * {
    font-size: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */