.create-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.create-form * {
  font-size: 2rem;
}

.create-form .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.create-form .questions article {
  margin: 3rem;
}

.create-form .questions article .question-div {
  margin: 2rem;
  background-color: lightcyan;
  padding: 1rem;
  border-left: solid 0.5rem lightgreen;
  border-radius: 1rem;
  -webkit-box-shadow: 0 0.5rem 1rem #c5d9d4;
          box-shadow: 0 0.5rem 1rem #c5d9d4;
  width: 60rem;
}

.create-form .questions .choose-type-main {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10rem;
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-type-main {
  position: relative;
}

.choose-type-main .choose-type {
  position: absolute;
  font-size: 5rem;
}

.fillout-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.fillout-form * {
  font-size: 2rem;
}

.fillout-form .questions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.fillout-form .questions article {
  margin: 3rem;
}

.fillout-form .questions article .question-div {
  margin: 2rem;
}

.fillout-form .questions .choose-type-main {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 10rem;
}

.form-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.choose-type-main {
  position: relative;
}

.choose-type-main .choose-type {
  position: absolute;
  font-size: 5rem;
}

.auth-form {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 5rem;
}

.auth-form a {
  margin-top: 2rem;
  text-decoration: none;
  font-size: 2rem;
  border: solid 0.2rem gray;
  color: #282c34;
}

.auth-form a:hover {
  background: #c0ede0;
}

.auth-form h1 {
  text-align: center;
  width: 25%;
  margin-bottom: 2rem;
  border-bottom: solid 0.4rem #61dafb;
}

.auth-form div {
  position: relative;
  margin: 1.5rem;
  font-size: 5rem;
  overflow-x: visible;
}

.auth-form div input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-bottom: 0.1rem solid black;
  outline: none;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.auth-form div input:focus {
  border-bottom-color: #61dafb;
}

.auth-form div label {
  color: #000;
  position: absolute;
  left: 0;
  bottom: 10%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.auth-form div .auth-label {
  font-size: 2rem;
  top: -1rem;
  color: gray;
}

.auth-form button {
  margin: 3rem;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 1rem;
  border: none;
  background: #61dafb;
  color: white;
}

.auth-form button:hover {
  background: #c0ede0;
}

.auth-form p {
  color: red;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

#root aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  max-height: 100vh;
  font-size: 3.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media (max-width: 768px) {
  #root aside {
    display: none;
  }
}

#root main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#root section {
  font-size: 5rem;
  background-color: #faf7f9;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.not-found {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.not-found * {
  color: black;
  padding: 2rem;
}

.not-found h1 {
  font-size: 5rem;
}

.not-found a {
  font-size: 2.5rem;
}

.not-found a:hover {
  color: gray;
}

.loading-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.loading-circle div {
  border: 2rem solid #f3f3f3;
  border-top: 2rem solid #3498db;
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.line-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.line-create textarea {
  margin: 1rem;
  outline: none;
  border: none;
  border-bottom: gray 0.2rem solid;
  resize: none;
}

.line-create textarea:focus {
  border-bottom: black 0.2rem solid;
}

.paragraph-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem;
}

.paragraph-create textarea {
  margin: 1rem;
  outline: none;
  border: none;
  border-bottom: gray 0.2rem solid;
  resize: none;
}

.paragraph-create textarea:focus {
  border-bottom: black 0.2rem solid;
}

.checkbox-create {
  margin: 2rem;
}

.checkbox-create textarea {
  margin: 1rem;
  outline: none;
  border: none;
  border-bottom: gray 0.2rem solid;
  resize: none;
}

.checkbox-create textarea:focus {
  border-bottom: black 0.2rem solid;
}

.checkbox-create .check-input {
  margin: 0.1rem;
}

.checkbox-create .check-input .check {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  -webkit-appearance: none;
  border: 0.1rem gray solid;
}

.checkbox-create .check-input .check:checked {
  background-color: green;
}

.checkbox-create .check-input .check-input {
  margin: 1rem;
  outline: none;
  border: none;
  border-bottom: gray 0.2rem solid;
  resize: none;
}

.checkbox-create .check-input .check-input:focus {
  border-bottom: black 0.2rem solid;
}

.checkbox-create .add-check {
  margin: 1rem;
}

.question-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-top: gray 0.1rem solid;
  padding-top: 1.5rem;
}

.question-options button {
  border-radius: 3rem;
}

.nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links a {
  padding: 2rem;
  padding-inline: 15rem;
  background-color: lightpink;
}

.nav-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.form-header textarea {
  margin: 1rem;
  outline: none;
  border: none;
  border-bottom: gray 0.2rem solid;
  resize: none;
}

.form-header textarea:focus {
  border-bottom: black 0.2rem solid;
}

* {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media (max-width: 768px) {
  * {
    font-size: 50%;
  }
}
/*# sourceMappingURL=styles.css.map */